<?php /* Template Name: <%= name.titleize %> */ ?>
<?php include 'helpers/<%= name %>_helper.php' ?>
<?php render_partial('header', array('body_class' => '<%= name %> '.$<%= name %>_helper->slug)) ?>
  <p>Content.</p>
<?php render_partial('footer') ?>
