<?php header('content-type: text/html;charset=utf-8') ?>
<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="stylesheet" href="<?php bloginfo('stylesheet_url') ?>" type="text/css">
  </head>
<?php flush() ?>
  <body class="<?php echo $body_class ?>">
    <div id="container">
      <div id="header">
        <h1><a href="/"><%= name %></a></h1>
      </div>
